.home{
/*  
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 90vh;
*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  padding: 100px 0;
  flex-direction: row;
  gap: 120px;
}
.intro, .glass{
  /*
  justify-content: center;
  align-items: center;

  margin: auto;
  width: 50%;
  */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.glass{
  width: 220px;
  height: 220px;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px;
}