.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  z-index: 1;
  height: 60px;
  background-color: #fef7e5;
  /* position: relative; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 100%;
  

  /* island 
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0 30px 0 30px;*/
}

@media (min-width: 769px) {
  .navbar.scrolled {
    position: sticky;
    width: 90%;
    max-width: 1130px;
    margin: 0 auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0 30px 0 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
}

.logo {
  height: 50px;
  width: 50px;
}

.menu-icon {
  display: none;
  height: 50px;
  width: 50px;
}

.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a:hover {
  background-color: aliceblue;
}
.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
  
}

@media (max-width: 768px) {
  .navbar{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
  }
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
  .nav-elements div a img{
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-left: 22px;
    margin-top: 22px;
  }

  /* socials */
  .nav-elements ul div {
    position: fixed;
    bottom: 0;
  }
  .nav-elements div a{
    align-items: center;
    width: 100px;
    text-align: center;
    margin-top: 22px;
    margin-left: 22px;
  }
  .nav-elements div a img{
    height: 45px;
    width: 45px;
  }
}