.projectsContainer {
  height: 100vh;
  background-color: var(--darkBackground);
  border-top: 1px solid var(--hoverDarkBackground);

}

.projectsContainer h1 {
  color: var(--text);
  text-align: center;
  padding-top: 80px;
}