@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Montserrat:wght@500;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
  --text: #f1f0ef;
  --light-text: #A3A3A3;
  --background: #141217;
  --darkBackground: #1E1B23;
  --hoverDarkBackground: #27232e;
  --primary: #c1bdb0;
  --secondary: #5f5945;
  --accent: #a39978;
}
body{
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  */
  font-family: 'Poppins', sans-serif;

  height: 100vh;
  background: #333;
  background-size: 40px 40px;
  background-image: 
  linear-gradient(to right, #4b4a4a 1px, transparent 1px),
  linear-gradient(to bottom, #4b4a4a 1px, transparent 1px);

}

::selection{
  background: #BBF7D0;
}